In [1]:
import numpy as np
import pandas as pd
from datetime import timedelta

def date_adj(x):
    return x - timedelta(days=1)

In [7]:
US_M1_df = pd.read_csv("./M1.csv")
US_M2_df = pd.read_csv("./M2.csv")
TB3MS_df = pd.read_csv("./TB3MS.csv")
TB6MS_df = pd.read_csv("./TB6MS.csv")
US_yield_curve = pd.read_excel("./yield curve.xlsx")
US_gdp_df = pd.read_csv("./US_gdp_Q.csv")
US_recession_df = pd.read_csv("./US_recession_Q.csv")

DJIA_df = pd.read_csv("./DJIA_monthly.csv")
NYSE_df = pd.read_csv("./NYSE_monthly.csv")
SP500_df = pd.read_csv("./S&P500_monthly.csv")

In [8]:
US_M1_df['DATE'] = pd.to_datetime(US_M1_df['DATE'])

In [11]:
US_M1_df.set_index('DATE')['M1SL']

DATE
1959-01-01     138.9
1959-02-01     139.4
1959-03-01     139.7
1959-04-01     139.7
1959-05-01     140.7
               ...
2020-06-01    5215.0
2020-07-01    5331.8
2020-08-01    5391.2
2020-09-01    5502.5
2020-10-01    5580.4
Name: M1SL, Length: 742, dtype: float64

In [12]:
US_M1_df.set_index('DATE')['M1SL'].shift(1)

DATE
1959-01-01       NaN
1959-02-01     138.9
1959-03-01     139.4
1959-04-01     139.7
1959-05-01     139.7
               ...
2020-06-01    5035.3
2020-07-01    5215.0
2020-08-01    5331.8
2020-09-01    5391.2
2020-10-01    5502.5
Name: M1SL, Length: 742, dtype: float64

In [5]:
# adjusting for lag (1)
US_M1_df['DATE'] = pd.to_datetime(US_M1_df['DATE'])
US_M1_Q = US_M1_df.set_index('DATE')['M1SL'].resample('1Q').last()
US_M2_df['DATE'] = pd.to_datetime(US_M2_df['DATE'])
US_M2_Q = US_M2_df.set_index('DATE')['M2SL'].resample('1Q').last()

In [6]:
# Interest Rate and spreads are quarterly average levels 
TB3MS_df['DATE'] = pd.to_datetime(TB3MS_df['DATE'])
TB3MS_Q = TB3MS_df.set_index('DATE')['TB3MS'].resample('1Q').mean()
TB6MS_df['DATE'] = pd.to_datetime(TB6MS_df['DATE'])
TB6MS_Q = TB6MS_df.set_index('DATE')['TB6MS'].resample('1Q').mean()
US_yield_curve['Date'] = pd.to_datetime(US_yield_curve['Date'])
US_yield_curve = US_yield_curve.set_index('Date').resample('1Q').mean()

In [41]:
US_gdp_df['DATE'] = pd.to_datetime(US_gdp_df['DATE'])
US_gdp_df['DATE'] = US_gdp_df['DATE'].apply(lambda x: date_adj(x))
US_gdp_Q = US_gdp_df.set_index('DATE')['GDPC1'].resample('1Q').last()
US_recession_df['DATE'] = pd.to_datetime(US_recession_df['DATE'])
US_recession_df['DATE'] = US_recession_df['DATE'].apply(lambda x: date_adj(x))
US_recession_Q = US_recession_df.set_index('DATE')['USRECQ'].resample('1Q').last()

In [70]:
DJIA_df['Date'] = pd.to_datetime(DJIA_df['Date'])
DJIA_df['Date'] = DJIA_df['Date'].apply(lambda x: date_adj(x))
DJIA_Q = DJIA_df.set_index('Date').resample('1Q').last()
DJIA_Q.columns = DJIA_Q.columns.to_series().apply(lambda x: 'DJIA_'+x)

NYSE_df['Date'] = pd.to_datetime(NYSE_df['Date'])
NYSE_df['Date'] = NYSE_df['Date'].apply(lambda x: date_adj(x))
NYSE_Q = DJIA_df.set_index('Date').resample('1Q').last()
NYSE_Q.columns = NYSE_Q.columns.to_series().apply(lambda x: 'NYSE_'+x)

SP500_df['Date'] = pd.to_datetime(SP500_df['Date'])
SP500_df['Date'] = SP500_df['Date'].apply(lambda x: date_adj(x))
SP500_Q = DJIA_df.set_index('Date').resample('1Q').last()
SP500_Q.columns = SP500_Q.columns.to_series().apply(lambda x: 'SP500_'+x)

In [71]:
comb_df = pd.concat([US_M1_Q, US_M2_Q, TB3MS_Q, TB6MS_Q, US_gdp_Q, US_recession_Q, US_yield_curve, DJIA_Q, NYSE_Q, SP500_Q], axis=1)

In [73]:
comb_df.to_csv('./comb_df.csv')

In [72]:
comb_df

,M1SL,M2SL,TB3MS,TB6MS,GDPC1,USRECQ,3M,1Y,2Y,3Y,...,NYSE_Low,NYSE_Close,NYSE_Adj Close,NYSE_Volume,SP500_Open,SP500_High,SP500_Low,SP500_Close,SP500_Adj Close,SP500_Volume
DATE,,,,,,,,,,,,,,,,,,,,,
1854-09-30,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1854-12-31,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1855-03-31,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1855-06-30,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1855-09-30,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-31,3976.9,15307.1,1.54,1.54,19010.848,1.0,1.57,1.55,1.61,1.63,...,28169.529297,28256.029297,28256.029297,6.170770e+09,28638.970703,29373.619141,28169.529297,28256.029297,28256.029297,6.170770e+09
2020-03-31,4256.7,15989.9,0.29,0.29,17302.511,1.0,0.30,0.33,0.45,0.50,...,20735.019531,24345.720703,24345.720703,9.805160e+09,21227.380859,24764.769531,20735.019531,24345.720703,24345.720703,9.805160e+09
2020-06-30,5215.0,18164.1,0.16,0.18,18583.984,1.0,0.16,0.18,0.19,0.22,...,25523.509766,26428.320313,26428.320313,8.210370e+09,25879.380859,27071.330078,25523.509766,26428.320313,26428.320313,8.210370e+09
2020-09-30,5502.5,18648.3,0.11,0.12,NaN,NaN,0.11,0.13,0.13,0.16,...,26143.769531,26501.599609,26501.599609,8.439930e+09,27940.630859,28957.900391,26143.769531,26501.599609,26501.599609,8.439930e+09
2020-12-31,5580.4,18812.0,0.10,0.11,NaN,NaN,0.10,0.13,0.15,0.19,...,29231.199219,29263.480469,29263.480469,3.087394e+08,29437.570313,29469.890625,29231.199219,29263.480469,29263.480469,3.087394e+08